version: '3.8'

services:
  buyer-pramaan-preprod:
    build: 
      context: ./buyerNPTestAPI
      dockerfile: ../Dockerfile.js
      args:
        - NODE_ENV=${NODE_ENV}
        - ENV_FILE=${ENV_FILE} 
    container_name: buyer-pramaan-preprod
    ports:
      - "5064:3005"
    environment:
      - NODE_ENV=${NODE_ENV}
    networks:
      - beta-nginx-network
    restart: always

  seller-pramaan-preprod:
    build: 
      context: ./sellerNPTestAPI
      dockerfile: ../Dockerfile.js
      args:
        - NODE_ENV=${NODE_ENV}
        - ENV_FILE=${ENV_FILE} 
    image: beta-testing-api/sellernptestapi:prod
    container_name: seller-pramaan-preprod
    ports:
      - "5056:3005"
    environment:
      - NODE_ENV=${NODE_ENV}
    networks:
      - beta-nginx-network
    restart: always

  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27020:27017"   # remove if you don't want host access
    volumes:
      - mongo-data:/data/db
    networks:
      - beta-nginx-network
networks:
  beta-nginx-network:
    external: false
    
volumes:
  mongo-data: